[submodule "android-async-http"]
	path = android-async-http
	url = git@bitbucket.org:Lior/android-async-http.git
[submodule "boto"]
	path = boto
	url = git@bitbucket.org:Lior/boto.git
[submodule "cssselect"]
	path = cssselect
	url = https://github.com/SimonSapin/cssselect.git
[submodule "python-goose"]
	path = python-goose
	url = https://github.com/nimast/python-goose.git
[submodule "keen"]
	path = keen
	url = https://github.com/keenlabs/KeenClient-Python.git
