[submodule "android-async-http"]
	path = android-async-http
	url = git@bitbucket.org:Lior/android-async-http.git
[submodule "boto"]
	path = boto
	url = git@bitbucket.org:Lior/boto.git
[submodule "python-readability"]
	path = python-readability
	url = https://github.com/buriy/python-readability.git
